<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="languageSelector" role="button"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ i18n "language_select" }}">
    {{ if site.Params.features.flags.enable }}
      <span class="fi fi-{{ partial "helpers/country-code.html" . }}"></span>
    {{ end }}
    {{ site.Language.Label }}
  </a>
  <div class="dropdown-menu" aria-labelledby="languageSelector">
    {{ range .AllTranslations }}
      <a class="dropdown-item nav-link languages-item" href="{{ .RelPermalink }}" hreflang="{{ .Language.Lang }}" lang="{{ .Language.Lang }}">
        {{ if site.Params.features.flags.enable }}
          <span class="fi fi-{{ partial "helpers/country-code.html" . }}"></span>
        {{ end }}
        {{ .Language.Label }}
      </a>
    {{ end }}
  </div>
</li>
